[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = "*"
pyyaml = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.7"

[scripts]
test = "python -m unittest discover -s src/test/python"
coverage = "coverage run --source src/main/python -m unittest discover -s src/test/python"
coverage-report = "coverage report"
coverage-html-report = "coverage html"
coverage-xml-report = "coverage xml"
