[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = "*"
pyyaml = "*"
toml = "*"
gitpython = "*"
jsonpath-ng = "*"
antlr4-python3-runtime = "==4.8.*"

[dev-packages]
autopep8 = "*"
faker = "*"
coverage = "*"

[requires]
python_version = "3.7"

[scripts]
test = "python -m unittest discover -s src/test/python"
coverage = "coverage run --source src/main/python -m unittest discover -s src/test/python"
coverage-report = "coverage report --fail-under=80"
coverage-html-report = "coverage html"
coverage-xml-report = "coverage xml"
compile-antlr = "antlr4 -Dlanguage=Python3 -Xexact-output-dir -visitor -no-listener -o src/main/python/storage/query/rsql/ src/main/antlr/RSQL.g4"
